* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  opacity: 0;
  color: red;
}
.show-alert > .form-input {
  border: 1px solid red;
}
.show-alert .alert {
  opacity: 1;
}
.user-input {
  color: blue;
}
