* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  @media all and (min-width: 760px) {
    font-size: 20px;
  }
}

.alert {
  opacity: 0;
  color: red;
}
.show-alert > .form-input {
  border: 1px solid red;
}
.show-alert .alert {
  opacity: 1;
}
.user-input {
  color: blue;
}
